results_final/render_depth1.ppm
results_final/render_depth2.ppm
results_final/render_false_no_scaling.ppm
results_final/render_scaling_adaptive_1e-1.ppm
results_final/render_scaling_adaptive_1e-2.ppm
results_final/render_scaling_adaptive_1e-3.ppm
results_final/render_scaling.ppm
render.ppm
render